<h3> Do stuff </h3>

<form action="/links" method="post">
  <input type="text" name="link_name" placeholder='Title'/>
  <input type="text" name="link_address" placeholder="URL"/>
  <input type="text" name="tag_name" placeholder="Tag"/>
  <button type="submit">Memorize Bookmark</button>
</form>
